syntax = "proto3";

option csharp_namespace = "{{csharp_namespace}}";

{{#package.0}}
package {{package}};

{{#Service}}
service {{Name}}Grpc {
{{#Rpc}}
  rpc {{Name}} ({{#RequestStream}}stream {{/RequestStream}}{{RequestMessage}}) returns ({{#ReplyStream}}stream {{/ReplyStream}}{{ReplyMessage}});
{{/Rpc}}
}
{{/Service}}
{{#Message}}

message {{Name}} {
{{#Field}}
    {{type}} {{name}} = {{index}};
{{/Field}}
}
{{/Message}}
{{/package.0}}