:root {
    --search-accent-color: #403bbf;
    --search-text-color: #2e2d42;
    --search-border-color: #c2c1d9;
  
    --search-item-text-color: #5d81a5;
    --search-item-focus-bg-color: #f3f4f5;
  
    --search-input-width: 8rem;
    --search-result-width: 20rem;
  }